<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrinkTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>614FDF751C8BCCE300D8B7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>614FDF8E1C8BCCE300D8B7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>614FDF991C8BCCE300D8B7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
